.index {
    width:900px;
    margin: 0 auto;
}

.container{
    width: 900px;
}

.new_user {
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #ddd;

    font-family: 'Oswald', sans-serif;
    font-weight: 300;

    font-size: 18px;
    padding: 0px;

}

.new_user .menu{
    float: right;
    position: relative;
    list-style: none;
    margin-top: 25px;
}

.menu > li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a{
    color: #898989;
}

.dropdown-menu {
    background-color: #fff;
    list-style-type: none;
    position: relative;
    float: right;
    display: none;
    font-size: 15px;
    margin-top: 5px;
    margin: 0px;
    padding: 0px;
}

.dropdown-menu li a{
    color: #898989;
    font-weight: 300;
    text-align:center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.intro .container{
    position: absolute;
    top:100px;
}

.intro h1{
    color: #fff;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-left: 40px;
}

.intro p{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding-left: 40px;
}

.intro a{
    font-family: 'Open Sans', sans-serif;
    padding-left: 40px;
    color: #00b0ff;
}

.intro {
    background-image:url('http://b.fastcompany.net/multisite_files/fastcompany/poster/2014/05/3030955-poster-p-1-3030955-the-future-of-work-this-infographic-will-tell-you-what-music-you-should-listen-to-at-wor.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.new_cat {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.new_cat {
    color: #00b0ff;
}

.category {
    display:none;
    visibility: hidden;
}
strong{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.nav li{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}