body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
    background-image: url('http://hdwallpaper1080.com/wp-content/uploads/best-hd-wallpaper.jpg');
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

    color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
}

.menu {
  background: #202024 url('http://challenge.gettingfittogether.com/img/23-day-bg.jpg') repeat left top;
  right: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Basic styling */

.jumbotron {
  /*background-image: url('http://hdwallpaper1080.com/wp-content/uploads/best-hd-wallpaper.jpg');
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;*/
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-left: 5px;
}

.clearfix {
    border: none;
    background-color: #2c3338;
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.register {
  cursor: pointer;
  padding-left: 30px;
  padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

#register > p {
  text-align: center;
  padding-left: 5px;
}

.logo {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#register form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #00b0ff;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
    padding: 10px;
}

#register form input[type="submit"]:hover {
  background-color: #FF0000;
}

#register > p {
  text-align: center;
}

p {
  line-height: 1.5em;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}