<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Packages</title>
</head>
<body>
    <h1>
        Select a service to purchase:<br>
    </h1>
    <form id="service_form" method="post" action="/Users/add_services/">
        <!--
        <input type="radio" name="package" value="package 1">Package 1<br>
        <input type="radio" name="package" value="package 2">Package 2<br>
        <input type="radio" name="package" value="package 3"a>Package 3<br>
        <input type="radio" name="package" value="package 4">Package 4<br>
        <input type="radio" name="package" value="package 5">Package 5<br>
        <input type="submit" name="submit" value="Purchase" />
        -->
        {% csrf_token %}
        <table border="1" width="25%">
             <tr><th>Service</th><th>Price</th></tr>

        {% for service in service_form%}
           <tr><td><input type = "radio" name = "service" value="{{ service.name }}">
            {{service.name}}</td> <td>${{ service.price }}</td></tr>

        {% endfor %}<br/>
        </table>
        <input type="submit" name="submit" value="Purchase" />
    </form>
</body>
</html>