<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Packages</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'add_bundles.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'add_bundles.js' %}"></script>
</head>
<body>

    <div class="menu">

      <!-- Menu icon -->
      <div class="icon-close">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>

        <div class = "logo">
            <a href ="/Users/" class="logo-icon">
                <img src="http://media.cylex.com.mx/1150/4184/logo/logo.jpg">
            </a>
        </div>

         <ul>
             <li><a href="/Users/logout/">Logout</a></li>
             <li><a href="/Users">Back</a></li>
             <li><a href="/Users/display_services/">View Subscribed Plans</a></li>
             <!--<li><a href="/Users/add_services/"> Add a Service</a></li>-->
             <li><a href="/Users/delete_services/"> Remove a Service</a></li>
             <li><a href="/Users/delete_bundles/">Remove a Bundle</a></li>
             <li><a href="/Users/view_bill"> View Bill</a></li>
             <!---<li><a href="">Set courtesy notification threshold</a></li>--->
             <li><a href="/Users/restricted/">Restricted Page</a></li>
          </ul>

    </div>

    <div class="jumbotron">

      <div class="icon-menu">
          <i class="fa fa-bars"></i>
        Menu
      </div>
    <div class="table-title">
        <h1>
            Select a Bundle to Purchase<br>
        </h1>
    </div>
    <div id = "bundles">
     <form id="bundle_form" method="post" action="/Users/add_bundles/">
     <table class="table-fill">
        <!--
        <input type="radio" name="package" value="package 1">Package 1<br>
        <input type="radio" name="package" value="package 2">Package 2<br>
        <input type="radio" name="package" value="package 3"a>Package 3<br>
        <input type="radio" name="package" value="package 4">Package 4<br>
        <input type="radio" name="package" value="package 5">Package 5<br>
        <input type="submit" name="submit" value="Purchase" />
        -->
        {% csrf_token %}
        <!---<table border="1" width="25%">--->
        <thead>
             <tr><th>Bundle</th><th>Price</th><th>Duration</th></tr>
        </thead>

        {% for bundle in bundle_form%}
            <tbody class="table-hover">
                <tr>
                    <td><input type = "checkbox" name = "bundle" value="{{ bundle.name }}">
                                {{bundle.name}}</td>
                    <td>${{ bundle.price }}</td>
                    <td>{{ bundle.duration }} Months</td>
                </tr>
            </tbody>
        {% endfor %}

     </table>

            <input type="submit" name="submit" value="Purchase" />
    </form>
    </div>

    </div>

    </div>
</body>
</html>