<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Create Bundle</title>
    <body>
    <h1>
        Enter fields for bundle<br>
    </h1>
    <form id="bundle_form" method="post" action="/Users/market_rep/">
        <!--
        <input type="radio" name="package" value="package 1">Package 1<br>
        <input type="radio" name="package" value="package 2">Package 2<br>
        <input type="radio" name="package" value="package 3">Package 3<br>
        <input type="radio" name="package" value="package 4">Package 4<br>
        <input type="radio" name="package" value="package 5">Package 5<br>
        <input type="submit" name="submit" value="Purchase" />
        -->
        {% csrf_token %}
        <table border="1" width="25%">
            <tr><th>Create Bundle</th><th></th></tr>
            <tr><td>
            Bundle Name: </td><td><input type="text" name="name" value="" size="50" /></td>
            </tr>
            <tr><td>
            Description: </td><td><input type="text" name="description" value="" size="50" /></td>
            </tr>
            <tr><td>
            Price: </td> <td><input type="number" name="price" value="" min="1" size="50" /></td>
            </tr>
            <tr><td>
            Term Fee: </td><td><input type="number" name="term" value="" min="1" size="50" /></td>
            </tr>
            <!--<tr><td>
                Services:</td><td><input types="checkbox" name="bservice" value="1">checkme</td>
            </tr>-->
        </table>
    </form>

</head>
<body>

</body>
</html>