<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome, Customer Representative!</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'cust_serv.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'add_bundles.js' %}"></script>
</head>
<body>
    <a href="/Users/register/">Register a new customer</a>
    <form id="customer_form" method="post" action="/Users/cust_serv/">

    <table border="1" width="32%">
    <th>Customers</th><th>Services</th><th>Bundles</th>
         {% csrf_token %}
         {%  for customer in customer_form %}
             <tr><td><input type="radio" name="customer" value= "{{customer}}"> {{ customer }}</td><td>{{ customer.get_services }}</td><td>{{ customer.get_bundles }}</td></tr>
         {% endfor %}


    <form id="service_form" method="post" action="/Users/cust_serv/">
    <table border="1" width="32%">
    <th>Service</th> <th>Price</th> <th>Termination Fee</th> <th>Duration</th>
        {% for service in service_form%}
            {% csrf_token %}
           <tr><td><input type = "checkbox" name = "service" value="{{ service.name }}">
            {{service.name}}</td><td>{{ service.price }}</td><td>{{ service.term_fee }}</td><td>{{service.duration}} Months</td></tr>

        {% endfor %}<br/><br/>
    </table>
        <input type="submit" name="submit" value="Delete Service">
        <input type="submit" name="submit" value="Add Service">


    <form id="bundle_form" method="post" action="/Users/cust_serv/">
    <table border="1" width="32%">
    <th>Bundle</th> <th>Price</th><th>Termination Fee</th> <th>Duration</th>
        {% for bundle in bundle_form%}
            {% csrf_token %}
           <tr><td><input type = "checkbox" name = "bundle" value="{{ bundle.name }}">
            {{bundle.name}}</td><td>{{ bundle.price }}</td><td>{{ bundle.term_fee }}</td> <td>{{ bundle.duration }} Months</td></tr>

        {% endfor %}<br/><br/>
    </table>
        <input type="submit" name="submit" value="Delete Bundle">
        <input type="submit" name="submit" value="Add Bundle">


    </table>

    </form>
    </form>
    </form>
</body>
</html>