<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome, Customer Representative!</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'cust_serv.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'cust_serv.js' %}"></script>
</head>
<body>

    <div class="menu">

      <!-- Menu icon -->
      <div class="icon-close">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>

        <div class = "logo">
            <a href ="/Users/" class="logo-icon">
                <img src="http://media.cylex.com.mx/1150/4184/logo/logo.jpg">
            </a>
        </div>

         <ul>
             <li><a href="/Users/logout/">Logout</a></li>
             <li><a href="/Users/register/">Register a new customer</a></li>
             <li><a href="/Users/restricted/">Restricted Page</a></li>
          </ul>

    </div>

    <div class="jumbotron">

      <div class="icon-menu">
          <i class="fa fa-bars"></i>
        Menu
      </div>

    <div id = "service">
    <form id="customer_form" method="post" action="/Users/cust_serv/">

    <table class = "table-fill">
        <thead>
            <th>Customers</th><th>Services</th><th>Bundles</th>
         </thead>
         {% csrf_token %}
         <tbody class = "table-hover">
         {%  for customer in customer_form %}
             <tr><td><input type="radio" name="customer" value= "{{customer}}"> {{ customer }}</td><td>{{ customer.get_services }}</td><td>{{ customer.get_bundles }}</td></tr>
         {% endfor %}
        </tbody>
    </table>

    <form id="service_form" method="post" action="/Users/cust_serv/">
    <table class = "table-fill">
    <thead>
    <th>Service</th> <th>Price</th> <th>Termination Fee</th> <th>Duration</th> <th>Legacy Plan</th>
    </thead>
        {% for service in service_form%}
            {% csrf_token %}
            <tbody class = "table-hover">
           <tr><td><input type = "checkbox" name = "service" value="{{ service.name }}">
            {{service.name}}</td><td>{{ service.price }}</td><td>{{ service.term_fee }}</td><td>{{service.duration}} Months</td> <td>{{ service.deleted }}</td></tr>
            </tbody>
        {% endfor %}
    </table>

        <input type="submit" name="submit" value="Delete Service">
        <input type="submit" name="submit" value="Add Service">


    <form id="bundle_form" method="post" action="/Users/cust_serv/">
    <table class = "table-fill">
    <thead>
    <th>Bundle</th> <th>Price</th><th>Termination Fee</th> <th>Duration</th> <th>Legacy Plan</th>
    </thead>
        {% for bundle in bundle_form%}
            {% csrf_token %}
            <tbody class = "table-hover">
           <tr><td><input type = "checkbox" name = "bundle" value="{{ bundle.name }}">
            {{bundle.name}}</td><td>{{ bundle.price }}</td><td>{{ bundle.term_fee }}</td> <td>{{ bundle.duration }} Months</td> <td>{{ bundle.deleted }}</td></tr>
            </tbody>
        {% endfor %}
    </table>
        <input type="submit" name="submit" value="Delete Bundle">
        <input type="submit" name="submit" value="Add Bundle">

    </form>
    </form>
    </form>

    </div>
    </div>
</body>
</html>