<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Current Services</title>
</head>
<body>
    <h1>
        Select a package to delete:<br>
    </h1>
    <form id="service_form" method="post" action="/Users/delete_services/">
        {% csrf_token %}
        <input type="radio" name="package" value="package 1">Package 1<br>
        <input type="radio" name="package" value="package 2">Package 2<br>
        <input type="radio" name="package" value="package 3">Package 3<br>
        <input type="radio" name="package" value="package 4">Package 4<br>
        <input type="radio" name="package" value="package 5">Package 5<br>
        <input type="submit" name="submit" value="Delete" />
    </form>
</body>
</html>