<!DOCTYPE html>
{% load staticfiles %}
<html>

 <title>Users</title>
 <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'view_bill.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'view_bill.js' %}"></script>
<!----<head lang="en">
    <meta charset="UTF-8">
    <title>Bill</title>
    <style>
        h1{
            text-align: center;
        }
        table.center{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        td {
            padding: 10px;
        }
        p {
            text-align: center;
        }
    </style>---->
</head>
<body>

<div class="menu">

      <!-- Menu icon -->
      <div class="icon-close">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>

        <div class = "logo">
            <a href ="/Users/" class="logo-icon">
                <img src="http://media.cylex.com.mx/1150/4184/logo/logo.jpg">
            </a>
        </div>

         <ul>
             <li><a href="/Users/logout/">Logout</a></li>
             <li><a href="/Users">Back</a></li>
             <!-- <li><a href="/Users/display_services/">View Subscriped Plans</a></li> -->
             <li><a href="/Users/add_services/"> Add a Service</a></li>
             <li><a href="/Users/delete_services/"> Remove a Service</a></li>
             <li><a href="/Users/add_bundles/">Add a Bundle</a></li>
             <li><a href="/Users/delete_bundles/">Remove a Bundle</a></li>
             <li><a href="/Users/view_bill"> View Bill</a></li>
             <!---<li><a href="">Set courtesy notification threshold</a></li>--->
             <li><a href="/Users/restricted/">Restricted Page</a></li>
          </ul>

   </div>

    <div class="jumbotron">

      <div class="icon-menu">
          <i class="fa fa-bars"></i>
        Menu
      </div>

    <!----
    <div class="table-title">
        <h3>Subscribed Service</h3>
    </div>

    <form id="display_services" method="get" action="/Users/display_services/">
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Service</th>
                <th class="text-left">Price</th>
            </tr>
        </thead>

        {% for package in display_services %}
        <tbody class="table-hover">
            <tr>
                <td class="text-left">{{package}}</td>
                <td class="text-left">${{package.price}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

    </div>
----->
    <div class = "table1" >
    <form id="display_services" method="get" action="/Users/view_bill/">

        <table class = "table-fill">
            <thead>
                <tr><th>Service</th>
                <th>Price</th>
                <th>Termination Fee</th>
                <th>Duration</th></tr>
            </thead>

            {% for package in display_services %}
                <tbody class="table-hover">
                    <tr>
                        <td>{{package}}</td>
                        <td>${{package.price}}</td>
                        <td>${{package.term_fee}}</td>
                        <td>{{package.duration }} Months</td>
                    </tr>
                </tbody>
            {% endfor %}

        </table>
    </form>
    </div>

    <div class = "table2" >
    <form id="display_bundles" method="get" action="/Users/view_bill/">

        <table class = "table-fill">
            <thead>
                <tr>
                    <th>Bundles</th>
                    <th>Price</th>
                    <th>Termination Fee</th>
                    <th>Duration</th>
                </tr>
            </thead>

            {% for bundle in display_bundles %}
                <tbody class="table-hover">
                    <tr>
                        <td>{{bundle}}</td>
                        <td>${{bundle.price}}</td>
                        <td>${{bundle.term_fee}}</td>
                        <td>{{ bundle.duration }} Months</td>
                    </tr>
                </tbody>
            {% endfor %}

        </table>

            <div class = "table3">
            <table class = "table-fill1" >
                <tr>
                    <td>Total is: ${{ total }}</td><td>Termination Fees: ${{ term_fees }}</td>
                </tr>
            </table>
        </div>
    </form>
    <div id = "set">
            <form id="user_form" method="post" action="/Users/">
                {% csrf_token %}
                <!---<table border="1" width="25%">
                    <tr><th>We can notify you when you balance gets close to your threshold!</th></tr>
                    <tr><td align="right">Current Threshold Value: ${{ thresholdvalue}} </td></tr>

                    <tr><td align="right">
                    <input type="number" name="maxVal"  min="0" max="99999" value=""/>
                    </td>
                    </tr>
                    <tr><td align="right"><input type="submit" name="submit" value="Update Your Balance Threshold" size="50" /></td></tr>
                </table> --->
                <table class ="table-fill">
                    <tbody class ="table-hover">
                        <tr><th>We can notify you when you balance gets close to your threshold!</th></tr>
                        <tr><td align="right">Current Threshold Value: ${{ threshold}} </td></tr>

                        <tr><td align="right">
                            <input type="number" name="maxVal"  min="0" max="99999" value=""/>
                            </td>
                        </tr>
                    <!---<tr><td align="right"><input type="submit" name="submit" value="Update Your Balance Threshold" size="50" />
                    </td></tr>-->

                    </tbody>
                </table>

                <input type="submit" name="submit" value="Update Your Balance Threshold" />
            </form>
        </div>
    </div>

<!-----
    <h1>
        Current Services: <br>
    </h1>

    <form id="display_services" method="get" action="/Users/display_services/">
    <table class="center" border="1" style="width:25%">
     <tr><th>Service</th><th>Price</th><th>Termination Fee</th></tr>
    {% for package in display_services %}
        <tr><td>{{package}}</td> <td>${{ package.price }}</td> <td>${{package.term_fee}}</td></tr>
    {% endfor %}
    </table>

    </form>
    <form id="display_bundles" method="get" action="/Users/display_services/">
        <table class="center" border="1" style="width:25%">
            <tr><th>Bundle</th><th>Price</th><th>Termination Fee</th></tr>
        {% for bundle in display_bundles %}
            <tr><td>{{bundle}}</td> <td>${{ bundle.price }}</td> <td>${{bundle.term_fee}}</td></tr>
        {% endfor %}
        </table>
    </form>
    <p>Total is: ${{ total }}</p>
----->

</body>
</html>